li {
    display: inline;
}
.menu {
    float:right;
    text-transform:uppercase
}
.header {
    background-color: rgb(169 169 169 / 60%);
}
.logo {
    display: inline;
    font-family: fantasy;
    text-transform: uppercase;
    color: #dc1717;
}